# Ignore Terraform working directory
**/.terraform/

# Ignore state files
terraform.tfstate
terraform.tfstate.backup

# Ignore crash logs
crash.log

# # Ignore sensitive variable files
# *.tfvars
# *.tfvars.json
**/.terraform/
#**/.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.plan
dependencytest.tf
image.png
ssh-keys
main.tf
terraform.tfvars
az-commands.txt
01-Basics
02-Modules-Basics
AppGw-DNS-Setup-004-tf
**/.env
**/node_modules/
**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.backup
**/*.pem
az-commands.txt